ul,li{
    list-style: none;
}
section{
    
    margin-bottom: 40px;
    width:90%;
    margin: 0 auto;
    .swiper{
        width:100%;
        box-shadow: 0 0.013333rem 0.133333rem 0.066667rem rgba(0,0,0,.05)

    }
    .producttitle{
        margin-top: 10px;
        // background:pink;
        h3{
            font-size: 1rem;
            font-weight: 100;
            margin-bottom: 10px;
        }
    }
    .productprice{
        margin-top: 7px;
        del{
            display: block;
            font-size : 12px;
            color:#ccc;
            line-height: .32rem;
        }
        strong{
            color:red;
            font-size: 14px;
            float: left;
            margin-top: 2px;
        }
    }
    .detailtags{
        span{
        font-size: 12px;
        margin-left: 8px;
        // margin-top:3px;
        border: 1px solid #000;
        color:#000;
        font-weight: 200
    }
    }
    .delivery{
        margin-top: 5px;
        span{
            em{
                font-size: 12px;
                color: #666;
                font-style: normal;
                
            }
        }
        margin-bottom: 20px;
    }
    .blockdesc{
        margin-top: 5px;
        padding-bottom: 15px;
        border-bottom: 1px solid #ccc;
        // background:orange;
        h3{
            padding: 1.3rem 0;
            color: #000;
            font-size: 15px;
            font-weight: 700;
            .reviewtotal{
                font-weight: 100;
            }
            .toreviewall{
                float:right;
                font-size: 12px;
                color: #666;
                font-weight: 100;
            }
            a{
                color:#000;
                text-decoration: none;
                span{
                   float: right;
                   margin-top:2px;
                   font-size: 12px;
                   color: #666;
                   font-weight: 100;
                }
            }
            
        }
      
       
        .showmore{
            img{
                margin-bottom: 5px;
            }
            ul{
                li{
                    width: 100%;
		// background: pink;
	    	        box-sizing: border-box;
		            font-size: 13px;
                    display: flex;
                    padding: 7px 0; 
                    // background:green;
                    line-height: 15px;
                    label{
                        width: 35%;
                        // background: blue;
                        color: #999;
                    }
                    span{
                       width: 65%;
                    //    background:pink;
                       color:black;
                    }
                }
            }
        }
        .blockinfo{
                width:100%;
            .review{
                    width:100%;
                    height: 20%;
                    // background: yellow;
                    box-sizing: border-box;
                    border-bottom: 1px solid #ccc;
                    .user{
                        height: 10%;
                        span{
                            font-size: 14px;
                            color:#666;
                        }
                    }
                    .content{
                        height: 30%;
                        font-size: 13px;
                        // background: green;
                        padding: 10px 0;
                    }
                    .date{
                        font-size: 12px;
                        color:#ccc;
                        padding: 10px 0;
                    }
    
                }
        
            .images{
                p{
                    font-size: 12px;
                    margin-top: 5px;
                }
            }
            p{
                font-size: 12px;
                color:#666;
            }
            .p1{
                font-size: 12px;
                color:#666;
                &::before{
                    content: "●";
                    padding-right: 10px;
                }
            }
        
        }
    }
    .sizetable{
        // background: pink;
        .blockheading{
            .unit{
                color: #999;
                font-size: .32rem;
                font-weight: 400;
                margin-left: .133333rem;
            }
            .showsizepop{
                float: right;
                margin-top: .066667rem;
                padding-right: .266667rem;
                color: #666;
                font-size: .373333rem;
                font-weight: 400;
            }
        }

        .slide_content{ 
            font-size: 13px;
            padding-bottom: 10px;   
            .name{
                
                .list1{
                    margin-right: 1%;

                    float: left;
                    // background: orange;
                     width: 29%;
                     box-shadow: 0.24rem 0 0.233333rem 0.024rem hsla(0,0%,93%,.8);
                     li{
                         box-sizing: border-box;
                         padding: 5px;
                     }
                    li:nth-child(odd){
                        background: #f9f9f9;
                    }
                }
                .sizetable{
                    width: 70%;
                     overflow: auto;
                    // background:gold;
                  
                    .container{
                        display: flex;
                        .list2{
                           flex:1;
                           text-align: center;
                       
                           li{
                               box-sizing: border-box;
                                padding:5px;
                            
                           }
                           li:nth-child(odd){
                            background: #f9f9f9;
                        }
                        }
                    }

                }
            }  
        
    }
    }
    .hot{
        // background:gold;
        width: 100%;
        margin-bottom: 50px;
        margin-top: 5px;
        padding-bottom: 35px;
        border-bottom: 1px solid #ccc;
        h3{
            padding: 1.3rem 0;
            color: #000;
            font-size: 15px;
            font-weight: 700;
        }
        .container1{
      
            .productitem{
                width:100%;
                .pic{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    // background: pink;
                    .hotp{
                        width: 50%;
                        margin-bottom: 10px;
                        
                        img{
                            width: 100%;
                        }
                        .productinfo{
                            box-sizing: border-box;
                            padding-left: 3px;
                            .brandname{
                                display: block;
                                font-weight:bolder;
                                font-size: 14px;
                            }
                           span{
                            font-size: 12px;
                            font-weight: 200;
                           }
                           .productname{
                            display: block;
                            width: 100%;
                            margin-bottom: .166667rem;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                           }
                        }
                        .productpricebox{
                            font-size: 13px;
                            .price{
                                color:red;
                                font-weight: bold;
                            }
                            del{
                                color: #ccc;
                                padding-left: 5px;
                            }
                        }
                        .discount{
                            float:right;
                            font-size: 12px;
                            color:#666;
                            margin-top:-10px;
                        }
                    }
                }
    
            }
        }
    }

}

.otherinfoitem{
    border-top : 2px solid #eee;
    box-shadow: 0 0.013333rem 0 0 #eee;
    font-size: 14px;
    .countdown,.coupons,.servicelabels{
        padding: .533333rem 0;
        display: flex;
        .stitle,.title{
            float: left;
        }
        .stext{
            float: left;
            padding-left: .533333rem;
            color: #000;
            font-weight: 700;
        }
        .summary{
            float: left;
            margin-left: .533333rem;
            background:red;
            color:#fff;
            font-size: 12px;
            padding: 2px 2px;
        }
        .labels{
            width: 14.066667rem;
            float: left;
            padding-left: .533333rem;
            
            span{
                padding-left: 5px ;
                color:#666;
                font-size: 12px;
                &:after{
                    content : '|';
                    color:black;
                    padding-left: 5px ;
                }
            }
            span:first-child{
                padding-left: 0;
            }
            span:last-child{
                &:after{
                    content:''
                }
            }
    
        }
       
    }
    .sizelist{
        padding: 20px 0;
        display: flex;  
        border-bottom: 2px solid #eee;
        .title{
            float: left;
        }
    .size{
        // background: orange;
        // font-size: 20px;
        width: 7.733333rem;
        float: left;
        padding-left: .426667rem;
        span{
            width: auto;
            min-width: .453333rem;
            height: .746667rem;
            margin: 0 .4rem .4rem 0;
            padding: 0 .186667rem;
            // float: left;
            line-height: .746667rem;
            text-align: center;
            color: #000;
            font-size: .373333rem;
            background-color: #f5f5f5;
            
        }
        span:hover{
            background: black;
            color:#eee;
        }
        
    }
    }



}

.disappear{
    display: none;
}

.ticketshow{
    width: 100%;
    height: 400px;
    background: #ccc;
    position: fixed;
    left: 0;
    bottom:0;
    z-index : 10000;
    transition: all .5s ;
    box-sizing: border-box;
    h4{
        width: 100%;
        height: 40px;
        padding : 5px 0 ;
        line-height: 40px;
        text-indent: 13px;
        font-size: 15px;
        font-weight: 700;
        background-color: hsla(0,0%,100%,.98);
    }
    .pdetailpopupcontent{
        width: 100%;
        height:30%;
        overflow-x: hidden;
        overflow-y: auto;
        background: #ccc;
        .couponpopupitem{
            width: 90%;
            height: 90%;
            margin: 0 auto .266667rem;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAArIAAADmCAYAAAAp+WZIAAAABGdBT…1F1AjoxjglBNlxxkpPCRAgQIAAgX4F/gnoWkSNgG6MU+J/3T2WR320vlIAAAAASUVORK5CYII=) 0 0 no-repeat;
            background-size: 9.2rem 3.066667rem;
            background:#fff;
            margin-top: 10px;
            .value{
                width: 30%;
                height: 100%;
                color: #dd2828;
                overflow: hidden;
                float: left;
                display: -ms-flexbox;
                display: -webkit-box;
                display: flex;
                -ms-flex-pack: center;
                -webkit-box-pack: center;
                justify-content: center;
                -ms-flex-align: center;
                -webkit-box-align: center;
                align-items: center;
                span{
                    text-align: center;
                    font-size: 20px;
                    font-weight: 700;
                }
            }
            .info{
                width: 50%;
                height: 90%;
                padding: 0 .266667rem 0;
                float: left;
                // background:green;
               
                .label{
                    padding-bottom: .213333rem;
                    color: #fff;
                    font-size: .266667rem;
                    font-weight: 700;

                }
                .text{    
                    overflow: hidden;
                    margin-bottom: .373333rem;
                    font-size: .373333rem;
                    font-weight: 700;
                    font-size: 14px;
                    margin-top: 20px;
                    span{
                       
                        display: block;
                    }
                }
                 .time{
                     width: 60%;
                    color: #666;
                    font-size: .266667rem;
                 }
            }
            .status{
                width: 10%;
                height:90%;
                margin-right: 5px;
                float: right;
                margin-top: 10px;
                display: -ms-flexbox;
                display: -webkit-box;
                display: flex;
                -ms-flex-pack: center;
                -webkit-box-pack: center;
                justify-content: center;
                -ms-flex-align: center;
                -webkit-box-align: center;
                align-items: center;  
                border-left: 1px solid #eee;  
                span{
                    display: block;
                    width: .333333rem;
                    font-size: .32rem;
                    color: #dd2828;
                }
                span:hover{
                    color:#333
                }
            }
        }
    }

    a{
        width: 100%;
        height: 40px;
        display: block;
        text-align: center;
        font-size: 16px;
        position: fixed;
        left: 0;
        bottom: 0;
        background: #fff;
        line-height: 40px;
    }
}

.serviceshow{
    width: 100%;
    height: 400px;
    background: #eee;
    position: fixed;
    left: 0;
    bottom:0;
    z-index : 10000;
    // transition: all .5s ;
    box-sizing: border-box;
    h4{
        width: 100%;
        height: 40px;
        padding : 5px 0 ;
        line-height: 40px;
        text-indent: 13px;
        font-size: 15px;
        font-weight: 700;
        background-color: #f9f9f9;
    }  
    .pdetailpopupcontent{
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        background: #eee;
        div{
            width: 100%;
            height: 20%;
            // background: yellow;
           dl{
             padding: 5%;
             dt{
                padding-bottom: .16rem;
                color: #000;
                font-size: .373333rem;

            }
             dd{
                color: #666;
                font-size: .32rem;
                // margin-top:px;
            }
           }
        }
    }
    a{
        width: 100%;
        height: 40px;
        display: block;
        text-align: center;
        font-size: 16px;
        position: fixed;
        left: 0;
        bottom: 0;
        background: #fff;
        line-height: 40px;
    }
}
.nouser{
    font-size: 14px;
}